@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

.hide-scrollbar {
  overflow-y: hidden;
}

/* Add this to your global styles or the component's stylesheet */
::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ee2239;
  /* Set the color of the scrollbar thumb */
  border-radius: 5px;
  /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* Set the color of the scrollbar track */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #ffffff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}